<div class="eqLogic-widget eqLogic allowResize" style="width:#width#;height:#height#;border:#border#;border-radius:#border-radius#;background-color: #background-color#;color: #color#;#style#" data-eqLogic_id="#id#" data-eqLogic_uid="#uid#" data-version="#version#" data-eqType="#eqType#" data-translate-category="#translate_category#" data-category="#category#" data-tags="#tags#">
  <span class="statusCmd" style="position : absolute;left : 5px; width : 30px;z-index: 1030;"></span>
  <span class="cmd refresh pull-right cursor" data-cmd_id="#refresh_id#" style="margin-top: 2px;margin-right: 2px;">
    <i class="fas fa-sync"></i>
  </span>
  <span class="cmd cmd-widget" data-cmd_id="#refresh_id#" style="display:none;"></span>
  <center class="widget-name"><a href="#eqLink#" style="font-size : 1.1em;#hideEqLogicName#">#name_display# <span class="object_name">#object_name#</span></a></center>
  <div class="verticalAlign">
    <div style="position : relative; left : 15px;">
      <span class="pull-left state">
        <br>
        <i class="#icone#" style="font-size: 3.5em;"></i>
      </span>
      <div class="pull-right" style="margin-right: 20px;margin-top: 0px;">
        <div id="windDirection#uid#" style="width: 90px; height: 90px;" class="cmd noRefresh" data-type="info" data-subtype="numeric" data-cmd_id="#windid#"></div>
        <div class="cmd noRefresh" data-type="info" data-subtype="string" data-cmd_id="#sunid#">
          <center><i class="fas fa-sun"></i></center>
          <center><span style="font-size: 0.8em;">#sunrise# | #sunset#</span></center>
        </div>
      </div>
      <span style="margin-left: 5px;font-size: 0.8em;"class="cmd noRefresh" data-type="info" data-subtype="string" data-cmd_id="#conditionid#">#condition#</span><br/>
      <span style="margin-left: 5px;font-size: 0.8em;" class="cmd noRefresh" data-type="info" data-subtype="string" data-cmd_id="#tempid#">#temperature# °C / #humidity# %</span><br/>
      <span style="margin-left: 5px;font-size: 0.8em;" class="cmd noRefresh" data-type="info" data-subtype="string" data-cmd_id="#pressureid#">#windspeed# km/h | #pressure# mb</span>
    </div>
    <div style="margin-top:8px;">
      <center>#forecast#</center>
    </div>
  </div>
  <script>
    $('.eqLogic[data-eqLogic_uid=#uid#] .cmd').on('click', function() {
      jeedom.cmd.execute({id: $(this).data('cmd_id')});
    });
    if($('#windDirection#uid#').html() != undefined){
      new Highcharts.Chart({
        chart: {
          renderTo: 'windDirection#uid#',
          type: 'gauge',
          backgroundColor: 'transparent',
          plotBackgroundColor: null,
          plotBackgroundImage: null,
          plotBorderWidth: 0,
          plotShadow: false,
          spacingTop: 0,
          spacingLeft: 0,
          spacingRight: 0,
          spacingBottom: 0
        },
        title: {
          text: null
        },
        credits: {
          enabled: false
        },
        pane: {
          startAngle: 0,
          endAngle: 360,
        },
        exporting : {
          enabled: false
        },
        plotOptions: {
          series: {
            dataLabels: {
              enabled: false
            },
            color: '#FFFFFF',
          },
          gauge: {
            dial: {
              radius: '90%',
              backgroundColor: 'silver',
              borderColor: 'silver',
              borderWidth: 1,
              baseWidth: 6,
              topWidth: 1,
              baseLength: '15%', // of radius
              rearLength: '75%'
            },
            pivot: {
              backgroundColor: 'white',
              radius: 0,
            }
          }
        },
        pane: {background: [{backgroundColor: 'transparent'}]},
        yAxis: {
          min: 0,
          max: 360,
          tickWidth: 2,
          tickLength: 10,
          tickColor: '#FFFFFF',
          tickInterval: 90,
          lineColor: '#FFFFFF',
          lineWidth: 2,
          labels: {
            formatter: function () {
              if (this.value == 360) {
                return '<span style="color : #FFFFFF;font-weight:bold;">N</span>';
              } else if (this.value == 90) {
                return '<span style="color : #FFFFFF;font-weight:bold;">E</span>';
              } else if (this.value == 180) {
                return '<span style="color : #FFFFFF;font-weight:bold;">S</span>';
              } else if (this.value == 270) {
                return '<span style="color : #FFFFFF;font-weight:bold;">W</span>';
              }
            }
          },
          title: {
            text: null
          }},
          series: [{
            name: 'Vent',
            data: [#wind_direction# - 180]
          }],
          tooltip: {
           formatter: function () {
             return this.y + 180 + '°';
           }
         },
        });
      }
    </script>
  </div>
