<div class="eqLogic-widget eqLogic" style="width: 350px;background-color: #background_color#; #style#" data-eqLogic_id="#id#" data-eqLogic_uid="#uid#" data-version="dashboard" >
 <span class="statusCmd" style="position : absolute;left : 5px; width : 30px;z-index: 1030;"></span>
 <i class='fa fa-refresh pull-right cursor refresh' style="margin-top: 3px;margin-right: 3px;"></i>
 <span class="cmd cmd-widget" data-cmd_id="#refresh_id#" style="display:none;"></span>
 <center class="widget-name"><strong><a href="#eqLink#" style="font-size : 1.1em;"> #city# </a></strong></center>
 <div style="position : relative; left : 15px;" class="tooltips" title="#collectDate#">
    <span class="pull-left">
        <i class="#icone#" style="font-size: 4em; display: #visibilityIcon#;"></i>
	<img style="height:62px;width:80px; display: #visibilityImage#;" src="plugins/weather/core/template/images/#icone#.png"/>
    </span>
    <div class="pull-right" style="margin-right: 20px;margin-top: 0px;">
        <div id="windDirection#uid#" style="width: 80px; height: 80px;" class="cmd noRefresh" data-type="info" data-subtype="numeric" data-cmd_id="#windid#"></div>
        <div class="cmd noRefresh" data-type="info" data-subtype="string" data-cmd_id="#sunid#">
            <center style="position: relative;left:-2px;"><i class="fa fa-sun-o"></i></center>
            <span style="font-size: 0.8em;position: relative;left:10px;">#sunrise# | #sunset#</span>
        </div>
    </div>
    <span style="margin-left: 5px;"class="cmd noRefresh" data-type="info" data-subtype="string" data-cmd_id="#conditionid#">  #condition# </span><br/> 
    <span style="margin-left: 5px;font-size: 0.8em;" class="cmd noRefresh" data-type="info" data-subtype="string" data-cmd_id="#tempid#">  #temperature# °C / #humidity# % </span><br/>
    <span style="margin-left: 5px;font-size: 0.8em;" class="cmd noRefresh" data-type="info" data-subtype="string" data-cmd_id="#pressureid#">  #windspeed# km/h | #pressure# mb</span>
</div><br/>
<div style="margin-top: -15px;">
    <center>#forecast#</center>
</div>
<script>
 $('.eqLogic[data-eqLogic_uid=#uid#] .refresh').on('click', function () {
    jeedom.cmd.execute({id: '#refresh_id#'});
});


 if($('#windDirection#uid#').html() != undefined){
    new Highcharts.Chart({
        chart: {
            renderTo: 'windDirection#uid#',
            type: 'gauge',
            backgroundColor: 'transparent',
            plotBackgroundColor: null,
            plotBackgroundImage: null,
            plotBorderWidth: 0,
            plotShadow: false,
            spacingTop: 0,
            spacingLeft: 0,
            spacingRight: 0,
            spacingBottom: 0
        },
        title: {
            text: null
        },
        credits: {
            enabled: false
        },
        pane: {
            startAngle: 0,
            endAngle: 360,
        },
        exporting : {
            enabled: false
        },
        plotOptions: {
            series: {
                dataLabels: {
                    enabled: false
                },
                color: '#FFFFFF',
            },
            gauge: {
                dial: {
                    radius: '90%',
                    backgroundColor: 'silver',
                    borderColor: 'silver',
                    borderWidth: 1,
                    baseWidth: 6,
                    topWidth: 1,
                            baseLength: '75%', // of radius
                            rearLength: '15%'
                        },
                        pivot: {
                            backgroundColor: 'white',
                            radius: 0,
                        }
                    }
                },
                pane: {background: [{backgroundColor: 'transparent'}]},
                yAxis: {
                    min: 0,
                    max: 360,
                    tickWidth: 2,
                    tickLength: 10,
                    tickColor: '#FFFFFF',
                    tickInterval: 90,
                    lineColor: '#FFFFFF',
                    lineWidth: 4,
                    labels: {
                        formatter: function () {
                            if (this.value == 360) {
                                return '<span style="color : #FFFFFF;font-weight:bold;">N</span>';
                            } else if (this.value == 90) {
                                return '<span style="color : #FFFFFF;font-weight:bold;">E</span>';
                            } else if (this.value == 180) {
                                return '<span style="color : #FFFFFF;font-weight:bold;">S</span>';
                            } else if (this.value == 270) {
                                return '<span style="color : #FFFFFF;font-weight:bold;">W</span>';
                            }
                        }
                    },
                    title: {
                        text: null
                    }},
                    series: [{
                        name: 'Vent',
                        data: [#wind_direction#]
                    }]
                });
}
</script>
</div>
