<div class="eqLogic-widget eqLogic" style="width: 250px;background-color: #background_color#" data-eqLogic_id="#id#" data-version="dashboard" >
    <center><strong><a href="#eqLink#" style="font-size : 1.1em;"> #city# </a></strong></center>
    <div style="position : relative; left : 15px;" class="tooltips" title="#collectDate#">
        <span class="pull-left">
            <i class="#icone#" style="font-size: 4em;"></i>
        </span>
        <span style="margin-left: 5px;">  #condition# </span><br/> 
        <span style="margin-left: 5px;">  #temperature# °C / #humidity# % </span><br/>
        <span style="margin-left: 5px;">  #windspeed# km/h / #pressure# mb</span> <br/>
    </div><br/>
    <div>
        <center>#forecast#</center>
    </div>
</div>
