<div style="display: inline-block;font-size: 0.8em;margin-right : 4px;" class="cmd noRefresh" data-type="info" data-subtype="string" data-cmd_id="#conditionid#">
  <center>#day#</center>
  <center><div style="background: url('plugins/weather/core/template/images/#icone#.svg') no-repeat center; background-size: 120% 120%; width: 30px; height: 30px;"></div></center>
  <center class="cmd noRefresh" data-type="info" data-subtype="string" data-cmd_id="#tempid#" style="font-size:9px;">#low_temperature#° / #hight_temperature#°</center>
</div>
