<div style="display: inline-block;font-size: 0.8em;margin-right : 4px;" class="cmd noRefresh" data-type="info" data-subtype="string" data-cmd_id="#conditionid#">
    <center>#day#</center>
    <center><i class="#icone#" style="font-size: 2em; display: #visibilityIcon#;"></i></center>
    <center><img style="height:31px;width:40px; display: #visibilityImage#;" src="plugins/weather/core/template/images/#icone#.png"/></center>
    <center  class="cmd noRefresh" data-type="info" data-subtype="string" data-cmd_id="#tempid#">#low_temperature# | #hight_temperature#</center>
</div>